@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

* {
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

.App {
  text-align: center;
  background: #000;
  width: 100vw;
  height: 100vh;
}


.app-main-row {
  height: 89vh;
  width: 100vw;
  margin: 0;
}

.app-main-row.__notLoggedIn {
  height: 100vh;
}

.app-footer-row {
  height: 11vh;
  min-height:70px;
}

.app-footer-row.__notLoggedIn {
  display: none;
}

.app-nav-col {
  padding: 0;
  min-width: 200px;
}

.app-nav-col.__notLoggedIn {
  display: none;
}

.app-main-col {
  padding: 0;
  background: linear-gradient(#292929, #000);
}

.app-footer-row {
  min-height: 70px;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px #c2c2c2 solid;
}

@media only screen and (max-width: 500px) {
  .app-nav-col {
    display: none;
  }
}